.sections {
    padding-top: 50px;
}

.title {
    display: flex;
    justify-content: center;
}

.title.active {
    color: var(--text-selected);
}

.name {
    color: var(--text-selected);
}

.content {
    text-align: center;
    margin: 0px 100px;
}

.home_links {
    border: solid;
    border-color: var(--secondary-color);
    border-radius: 2rem; 
    padding: 1rem 1rem;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.home_links:hover {
    border-color: var(--text-selected);
    font-size: 17px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 20px;
}

.social-links-block {
    border: solid;
    border-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 2rem; 
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.social-links-block:hover {
    border-color: var(--text-selected);
    transform: scale(1.1);
}

.social-links-block img:hover {
    transform: scale(1.1);
}

.hobbies {
    display: flex;
    justify-content: center;
    gap: 40px; 
}

.hobby-card {
    border: solid;
    border-color: var(--secondary-color);
    border-radius: 2rem; 
    padding: 1rem;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.hobby-card:hover {
    border-color: var(--text-selected);
    transform: scale(1.1);

    h3 {
        color: var(--text-selected);
    }
}