@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* Variables */
:root {
    --primary-color: #93B1A6;
    --secondary-color: #5C8374;
    --tertiary-color: #183D3D;
    --background-color: #040D12; 
    --text-selected: white;
    --font-main: 'JetBrains Mono', monospace;
}

html {
    background-color: var(--background-color);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--primary-color);
    font-family: var(--font-main);
    /* Background Image CSS */
    background: url("/dm3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    }