ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 1px;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    margin: 0;
    padding: 8px;
}

li a {    
    text-align: center;  
    padding: 8px;
    text-decoration: none;
    
}

a:visited {
    color: inherit;
}

li a:hover {
    color: white; 
}

