.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--background-color);
    z-index: 1000;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
}

.nav-links a:hover {
    color: var(--text-selected);
}

.nav-link.active {
    color: var(--text-selected);
    font-weight: bold;
}

