---
import '../styles/content.css';

import HomeContent from '../pages/home.md';
import AboutContent from '../pages/about-me.md';
import SkillsContent from '../pages/skills.md';
import ProjectsContent from '../pages/projects.md';
import CertificatesContent from '../pages/certificates.md';
import ContactContent from '../pages/contact-me.md';
import HobbiesContent from '../pages/hobbies.md';
---

<br>
<div class="body">
    <section class="sections" id="home">
        <h1 class="title active">Home</h1>
        <HomeContent/>
    </section>
    <br>
    <section class="sections" id="about-me">
        <h1 class="title">About Me</h1>
        <AboutContent/>
    </section>
    <br>
    <section class="sections" id="skills">
        <h1 class="title">Skills</h1>
        <SkillsContent/>
        <h1 id="certificates" class="title">Certificates</h1>
        <CertificatesContent/>
        <h1 id="projects" class="title">Projects</h1>
        <ProjectsContent/>
    </section>
    <br>
    <section class="sections" id="contact-me">
        <h1 class="title">Contact Me</h1>
        <ContactContent/>
    </section>
    <br>
    <section class="sections" id="hobbies">
        <h1 class="title">Hobbies</h1>
        <HobbiesContent/>
    </section>
</div>