---
import AboutContent from '../pages/about-me.md';
import SkillsContent from '../pages/skills.md';
import ContactContent from '../pages/contact-me.md';
import HobbiesContent from '../pages/hobbies.md';
---

<div class="body">
    <section class="sections" id="about-me">
        <AboutContent/>
    </section>
    <br>
    <section class="sections" id="skills">
        <SkillsContent/>
    </section>
    <br>
    <section class="sections" id="contact-me">
        <ContactContent/>
    </section>
    <br>
    <section class="sections" id="hobbies">
        <HobbiesContent/>
    </section>
</div>