---
import '../styles/content.css';

import AboutContent from '../pages/about-me.md';
import SkillsContent from '../pages/skills.md';
import ContactContent from '../pages/contact-me.md';
import HobbiesContent from '../pages/hobbies.md';
---

<br>
<div class="body">
    <section class="sections" id="about-me" data-section="about-me">
        <h1 class="title">About Me</h1>
        <AboutContent/>
    </section>
    <br>
    <section class="sections" id="skills" data-section="skills">
        <h1 class="title">Skills</h1>
        <SkillsContent/>
    </section>
    <br>
    <section class="sections" id="contact-me" data-section="contact-me">
        <h1 class="title">Contact Me</h1>
        <ContactContent/>
    </section>
    <br>
    <section class="sections" id="hobbies" data-section="hobbies">
        <h1 class="title">Hobbies</h1>
        <HobbiesContent/>
    </section>
</div>