---
import '../styles/global.css';
import HeaderComponent from '../components/HeaderComponent.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kimaren Naidoo</title>
		
	</head>
	<body>
		<HeaderComponent/>
		<br>
		<h1>Kimaren Naidoo</h1>
	</body>
</html>
